$headTextSize: 40px;

.headText{
  font-size: $headTextSize;
  width: 50%;
}

.eventContainer{
  width: 50%;
  display: flex;
}

.headStyle{
  display: flex;
}

.personSelect{
  height: 100%;
  width: 50%;
  margin-right: 5%;
}

.newEvent{
  height: 100%;
  width: 45%;
  font-size: $headTextSize - 10;
}

.calendarDiv{
  margin-top: 50px;
  margin-left: 15px;
  margin-right: 15px;
}