$selectionWdth: 200px;
$selectHeight: 40px;

.eventDivStyle{
  display: block;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 50px;
}

.buttonsStyle{
  display: flex;
  justify-content: flex-end;
  margin-top: 15px;
}

.cancelButton{
  margin-right: 10px;
}

.eventButton{
  height: $selectHeight;
  width: 150px;
  font-size: 12pt;
}

.eventOptionDiv{
  margin-top: 15px;
  display: flex;
  align-items: center;
}

.optionText{
  width: 200px;
}

.selectionEvent{
  width: $selectionWdth;
  height: $selectHeight;
  font-size: 12pt;
}

option{
  height: $selectHeight;
  font-size: 12pt;
  border-bottom: solid black 1px;
}

.errorCont{
  background-color: red;
  padding-top: 30px;
  padding-bottom: 10px;
  padding-left: 20px;
}