$headCellColor: lightgray;
$eventColor: lightgreen;

.headColorise{
  background-color: $headCellColor;
}

.tabCell{
  width: 16%;
  height: 35px;
  border: solid gray 1px;
  text-align: center;
}

.eventCell{
  background-color: $eventColor;
}

.tableContainer{
  margin-top: 10px;
}

table{
  border-spacing: 0px;
  width: 100%;
}